<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/Logo.png" width="150" alt="">
          </a>
        </div>
</nav>
<div class="container p-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="nb-0 text-center">Recordatorios</h3>
                    <h6 class="nb-0 text-center">Para recordarte lo que casualmente se te olvida :)</h6>
                </div>
                <div class="card-body">
                    <form id="task-form">
                        <div class="form-group">
                            <input type="text" id="recordatorio" placeholder="Recordatorio" class="form-control" #recordatorio>
                        </div>
                        <div class="form-group">
                            <input type="date" id="fecha" class="form-control" #fecha>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary btn-block text-center" (click)="guardar(recordatorio.value, fecha.value)">Guardar Recordatorio</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row row-flex">
                <div class="col-md-4 card"><h6 class="text-center">Recordatorio</h6></div>
                <div class="col-md-4 card"><h6 class="text-center">Fecha</h6></div>
                <div class="col-md-4 card"><h6 class="text-center">Operaciones</h6></div>
            </div>
            <app-listar-tarea *ngFor="let r of recordatorios" [recordatorio]="r"></app-listar-tarea>
        </div>
    </div>
</div>
